:root {
    --section-back: rgb(255, 252, 236);
    --title-color: rgb(10, 50, 66);
    --secondary-color: rgb(250, 181, 96);
    --paragraph-color: rgb(51, 101, 141);
    --btn-back: transparent;
    --text-white: white;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* outline: 1px solid red; */

    transition: all 0.3s ease-in-out;
}

.dark-mode {
    --section-back: rgb(3, 20, 27);
    --title-color: rgb(204, 204, 204);
    --secondary-color: rgb(184, 108, 16);
    --paragraph-color: rgb(158, 178, 194);
    --btn-back: transparent;
    --text-white: rgb(3, 20, 27);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--section-back);
    min-height: 100vh;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 20px 0;
}

.top > h1 {
    font-size: 35px;
    color: var(--title-color);
    letter-spacing: 3px;
}

.top > .line {
    width: 100px;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 20px;
}

.top > .btns {
    margin: 10px;
    display: flex;
}

.top > .btns > .btn {
    color: var(--secondary-color);
    background-color: var(--btn-back);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: 0 5px;
    text-transform: capitalize;
}

.top > .btns > .btn:hover {
    background-color: var(--secondary-color);
    color: var(--text-white);
}

.bot {
    padding: 50px 0 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}

.bot > .card {
    display: flex;
}

.bot > .card > .image {
    width: 200px;
    height: 150px;
    text-align: center;
}

.bot > .card > .image > img {
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bot > .card > .text {
    margin-left: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.bot > .card > .text > .text-top {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
}

.bot > .card > .text > .text-top > .title {
    font-size: 20px;
    letter-spacing: 3px;
    color: var(--title-color);
    text-transform: capitalize;
}

.bot > .card > .text > .text-top > .price {
    color: var(--secondary-color);
    letter-spacing: 2px;
    font-size: 20px;
}

.bot > .card > .text > .text-bot {
    border-top: 1px dotted var(--paragraph-color);
    padding: 20px 30px 0 0;
}

.bot > .card > .text > .text-bot > p {
    line-height: 30px;
    color: var(--paragraph-color);
}

.dark {
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.dark > .btn-dark {
    cursor: pointer;
    color: var(--title-color);
    background-color: var(--btn-back);
    border: 2px solid var(--title-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
}

.dark > .btn-dark:hover {
    background-color: var(--title-color);
    color: var(--text-white);
}

@media screen and (max-width: 1300px) {
    .bot {
        grid-template-columns: 1fr;
        gap: 40px 0;
    }
}
